/*
    Student Name: Ivy N. Goldsmith
	File Name: styles.css
	Today's Date: 3/5/2025
*/

/* CSS Reset */

body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
main img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

body {
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for header */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

header img {
    margin: 0 auto;
    height: 100px;
}

/* Style rule for footer */

footer p {
    font-size: 0.75em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.75;
    background-color: #74a1a9;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 0;
    padding-left: 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Style rules for navigation area */

nav {
    background-color: #8ebcc4;
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.25em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-top: 0.5px;
    border-color: #fff;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */

main {
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

main p {
    font-size: 1.25em;
    font-family: "Roboto", sans-serif;
}

main h3 {
    padding-top: 2%;
    font-family: "Roboto", sans-serif;
}

main a {
    text-decoration: none;
    color: #8ebcc4;
    font-family: "Roboto", sans-serif;
}

#main_div {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.round {
    border-radius: 8px;
}

.tel-link {
    background-color: #74a1a9;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

/* Style rules for contact page */

#contact {
    text-align: center;
}

#contact_div {
    text-align: center;
}

/* Style rules for character design page */

#character {
    font-weight: bold;
}

/* Style rules for traditional media page */

.sketch {
    font-size: medium;
}

.charcoal {
    font-size: medium;
}

.paint {
    font-size: medium;
}

.metalsmithing {
    font-size: medium;
}

.woodworking {
    font-size: medium;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Media Query for Tablet Viewport */

@media screen and (min-width: 630px), print {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    /* Tablet Viewport: Style rule for header */
    header {
        position: static;
        padding-bottom: 2%;
    }

    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .tel-num {
        font-size: 1.25em;
    }

    .map {
        width: 600px;
        height: 450px;
    }
}

/*Media Query for Desktop Viewport */

@media screen and (min-width: 1015px), print {
    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0%;
    }

    /*Desktop Viewport: style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 1em 0 1em 0;
        background: #fff;
    }

    nav ul {
        text-align: right;
    }

    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
        color: #000;
    }

    nav li a:hover {
        color: #fff;
        background-color: #000;
    }

    /*Desktop Viewport: Style Rules for main content */

    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }
}

/* Media Query for Large Desktop Viewports */

@media screen and (min-width: 1921px), print {
    #container {
        width: 1920px;
        margin: 0 auto;
    }
}

/* Media Query for Print */

@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}
