/*
    Student Name: Ivy N. Goldsmith
	File Name: styles.css
	Today's Date: 3/5/2025
*/

/* CSS Reset */

body,
header,
nav,
main,
footer,
h1,
div,
img,
ul,
main img {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */

body {
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for header */

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
}

header img {
    margin: 0 auto;
    height: 100px;
}

/* Style rule for footer */

footer p {
    font-size: 0.75em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.75;
    background-color: #74a1a9;
    color: #fff;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 0;
    padding-left: 0;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Style rules for navigation area */

nav {
    background-color: #8ebcc4;
    padding: 1%;
    margin-bottom: 1%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.25em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-top: 0.5px;
    border-color: #fff;
}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */

main {
    padding: 2%;
    font-family: "Roboto", sans-serif;
}

main p {
    font-size: 1.25em;
    font-family: "Roboto", sans-serif;
}

main h3 {
    padding-top: 2%;
    font-family: "Roboto", sans-serif;
}

main a {
    text-decoration: none;
    color: #8ebcc4;
    font-family: "Roboto", sans-serif;
}

#main_div {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.round {
    border-radius: 8px;
}

.tel-link {
    background-color: #74a1a9;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

/* Style rules for contact page */

#contact {
    text-align: center;
}

#contact_div {
    text-align: center;
}

/* Style rules for character design page */

#character {
    font-weight: bold;
}

/* Style rules for traditional media page */

.traditional {
    font-weight: bold;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
    display: block;
}

.tablet-desktop {
    display: none;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
